<nav class="navbar navbar-expand-lg navbar-dark bg-dark" (window:scroll)="onWindowScroll($event)">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="centered.toggle()"
      aria-controls="navbarCenteredExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div
      class="collapse navbar-collapse justify-content-start"
      id="navbarCenteredExample"
      mdbCollapse
      #centered="mdbCollapse"
    >
      <a pageScroll href="#home"><img src="../../../favicon.ico" alt="lsLogo" class="p-2" /></a>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <div *ngFor="let item of navbarButtons">
          <li class="nav-item">
            <a pageScroll href="#{{ item.link }}" class="nav-link">{{ item.name }}</a>
          </li>
        </div>

        <li mdbDropdown class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" mdbDropdownToggle aria-expanded="false">
            <i [ngClass]="selectFlag" class="flag m-0"></i>
          </a>
          <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" (click)="setLang('es')"><i class="flag-spain flag"></i>Español</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="setLang('en')"><i class="flag-united-kingdom flag"></i>English</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
