<section>
  <div class="mac-frame">
    <img class="img-frame" src="assets/img/macbook-frame.webp" alt="" />

    <section class="screen">

      <div class="screen-content" *ngIf="showDesktop">
        <section class="desktop">
          <div class="desktop-folder" *ngFor="let project of projects">

            <div cdkDragBoundary=".screen" cdkDrag>
              <button class="folder" (click)="openFolder()">
                <div class="img-cotainer">
                  <img src="assets/img/mac-folder.webp" alt="" />
                </div>
                <p>{{ project.name }}</p>
              </button>
            </div>

          </div>
        </section>
      </div>


      <section *ngIf="showFolder">
        <div class="folder-open">

        </div>
      </section>


    </section>
  </div>
</section>
