<section>
  <div class="mac-frame">
    <img class="img-frame" src="assets/img/macbook-frame.webp" alt="" />

    <section class="screen">
      <div class="screen-content" *ngIf="showDesktop">
        <section class="desktop">
          <h6 class="time">{{ time }}</h6>

          <div class="desktop-folder" *ngFor="let category of categories">
            <app-folder-item [category]="category"></app-folder-item>
          </div>
        </section>
      </div>
    </section>
  </div>
</section>
