<div>
  <div class="card mb-4" data-aos="fade-up">
    <img src="../../../../assets/img/me/20190410_144621.jpg" />
    <div class="card-body" data-aos="fade-right">
      <!-- ESPAÑOL -->
      <div *ngIf="lang == 'es'">
        <h5 class="card-title text-center">Sobre mí</h5>
        <p class="card-text mt-4">
          Soy un persona muy entusiasta y creativa, me gusta mucho aportar mis ideas y perspectiva para generar
          distintas soluciones, me gusta mucho trabajar en equipo y ayudar a los demas.
        </p>
        <p>
          Mi meta es ser mentor de quienes recien comienzan a aprender, para que puedan formarse como buenos
          desarrolladores, y que puedan crecer en el mundo de la programación.
        </p>
      </div>

      <!-- INGLES -->
      <div *ngIf="lang == 'en'">
        <h5 class="card-title text-center">About me</h5>
        <p class="card-text mt-4">
          I am a very enthusiastic and creative person, I like to contribute my ideas and perspective to generate different solutions, I like to work in team and help the others. 
        </p>
        <p>
            My goal is to be a mentor for those who just start to learn, so that they can form themselves as good developers, and that they can grow in the world of programming.
        </p>
      </div>

      <div class="text-center">
        <a class="btn btn-dark" target="_blank" href="{{ linkedinURL }}">LINKEDIN</a>
        <a class="btn btn-dark" target="_blank" href="{{ linkCV }}">CV</a>
        <a class="btn btn-dark" target="_blank" href="{{ gitUrl }}">GITHUB</a>
      </div>
    </div>
  </div>
</div>
