<div class="card mb-4" style="width: 380px;  margin:auto">
    <img src="../../../../assets/img/me/20190410_144621.jpg"/>
    <div class="card-body">
      <!-- <h5 class="card-title">{{profile.name}}</h5> -->
     <h5 class="card-title text-center mt-4">Sobre mí</h5>
      
      <p class="card-text mt-4">{{ profile.bio }}</p>

      <div class="text-center">
      <a class="btn" target="_blank" href="{{linkedinURL}}">LINKEDIN</a>
      <a class="btn"target="_blank" href="{{linkCV}}">CV</a>
      <a class="btn" target="_blank" href="{{profile.html_url}}">GITHUB</a>
    </div>
    </div>
  </div>