<div class="title-section text-center">
  <h3 *ngIf="lang == 'es'">Proyectos</h3>
  <h3 *ngIf="lang == 'en'">Projects</h3>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-2 text-center" style="margin: auto; width: 97vw">
  <div *ngFor="let project of projects">
    <div class="col card-hold" data-aos="fade-up">
      <div class="card h-100">
        <img src="{{ project.image }}" class="card-img-top" alt="{{ project.name }}" />
        <article class="card-body">
          <h5 class="card-title">{{ project.name }}</h5>
          <p class="card-text">
            {{ project.description }}
          </p>
          <section class="container-buttons">
            <a target="_blank" href="{{ project.linkDemo }}" class="btn btn-dark">Demo</a>
            <a target="_blank" href="{{ project.linkRepo }}" class="btn btn-dark">Repo</a>
          </section>
        </article>
      </div>
    </div>
  </div>
</div>
