<div class="footer" id="contact" data-aos="flip-up">
    <div class="container-fluid">
        <div class="container">
            <div class="footer-info">
        <!--         <h2>CONTÁCTAME</h2>
                <h3>Buenos Aires, Argentina</h3> -->
                <div class="footer-menu">
                    <a href="mailto:contact@sinisterraluciano.com.ar"><p>contact@sinisterraluciano.com.ar</p></a>
                </div>
                <div class="footer-social">
                    <a href="https://github.com/attrix182" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/luciano-sinisterra/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <p>&copy; <a href="#">Sinisterra Luciano</a>, Todos los derechos reservados | Diseñado por LS</p>
        </div>
    </div>
</div>