<div class="hero" id="home">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-6">
        <div class="hero-content">
          <div class="hero-text" data-aos="fade-right">
            <p>Soy</p>
            <h1>Luciano Sinisterra</h1>

            <div data-aos="fade-right">
              <h2>Frontend Dev</h2>
            </div>
          </div>
          <div class="hero-btn" data-aos="fade-left">
            <a
              class="btn"
              target="_blank"
              download
              href="https://drive.google.com/file/d/1eLt-cvRD_par698JdlCLSoKjOOKR4Azx/view?usp=sharing"
              >Descargar CV</a
            >
            <a class="btn" href="mailto:contact@sinisterraluciano.com.ar">Contactame</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 d-none d-md-block">
        <div class="hero-image" data-aos="fade-up">
          <img src="../../../../assets/img/me/DSC_0061.jpg" alt="Hero Image" />
        </div>
      </div>
    </div>
  </div>
</div>
